################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.VC.db
*.VC.opendb
*.dll
*.obj
*.log
*.idb
*.pdb
*.pch
*.exp
*.ilk
*.lib
*.ipch
*.suo
/.vs
*.user
*.enc
