################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode2017/AdventOfCode2017/Debug/AdventOfCode2017.tlog
